.App {
  background: url('./beer.jpg') no-repeat center center fixed;
  height: 100vh;
  background-position: cover;
  background-size: cover;
}


.heart-grey {
 color: grey;
 transition: ease-in-out 150ms;
}

.heart-red {
  color: red;
  transition: ease-in-out 150ms;
  transform: scale(1.5)
}

.outfit {
  font-family: 'Outfit', sans-serif;
}

.title {
  color: whitesmoke;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5rem;
}

body {
  background-color: darkslategray;
  margin: 0;
}

.nav-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  margin-right: 1.5rem;
  transition: ease-in 300ms;
}

.link:hover {
  text-shadow: none;
}

.shadow {
  text-shadow: 10px 10px 10px black;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexgrow {
  flex-grow: 1;
}

.slogan {
  margin-top: 0;
  margin-left: 5rem;
  color: whitesmoke;
}

.beer-card {
  width: 60vw;
}
.img {
  height: 12rem
}

@media screen and (max-width: 600px) {
  .beer-card {
    width: 70vw;
    margin-right: 2.5rem;
  }
  .img {
    width: 20%;
    height: 60%;
  }
  .title {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .link {
    font-size: 1rem;
  }
  .slogan {
    font-size: 0.75rem;
    margin-left: 1.5rem;
  }
}